dsfdf

<div id="main-wrap" class="fixed-top">
  <div id="inner-wrap" class="container">
    <div id="inner-wrap-top-div">
      <div id="top-bar-left-side">
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Book Now</a></li>
        </ul>
      </div>
      <div id="top-bar-right-side">
        <ul>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>

    <div id="inner-wrap-bottom-div">

    </div>

  </div>
</div>
